body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "LineChart LineChart";
  }
  .LineChart {
    grid-area: LineChart;
  }
  